@model PaginatedList<WebGestionClientes.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de clientes</h1>

<p>
    <a asp-action="Create">Añadir nuevo cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Dni
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellidos
            </th>
            <th>
                Email
            </th>
            <th>
                Telefono
            </th>
            <th>
                PaisRes
            </th>
            <th>
                Fecha Nacimiento
            </th>
            <th>
                Empresa
            </th>
            <th>
                Twitter
            </th>
            <th>
                Género
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaisRes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FehcaNac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuentaTwitter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Anterior
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Siguiente
</a>